* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}


.gallery {
    padding: 36px;
    background-color: #f9f9f9;
}

.gallery h2 {
    margin-bottom: 20px;
    text-align: center;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.gallery-item {
    position: relative;
    overflow: hidden;
}

.gallery-item img {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.gallery-item:hover img {
    transform: scale(1.1);
}



@media screen and (max-width: 768px) {

    main {
        margin-top: 80px;
    }

    .gallery-container {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}
